<IfModule mod_rewrite.c>

    # Activar el módulo mod_rewrite
    RewriteEngine On
    ErrorDocument 404 http://localhost/ProyectoFinal_DWES/Proyecto_fin_curso_2/error/

    # Redirigir todas las peticiones al archivo index.php
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2

</IfModule>