/*Generales*/ 

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

a {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

.verde{
    color: green;
}

.rojo{
    color: red;
}

/*Container*/
#contenedor {
    width: 80%;
    margin: 0px auto;
    /*box-sizing: 0px 0px 10px gray;*/
    background: white;
}

/*Header*/

#header {
    height: 145px;
    background: rgb(231, 228, 228);
}

#logo {
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img {
    float: left;
    height: 150px;
}

#logo a {
    float: left;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px black;
    transition: all 300ms;
}

#logo a:hover {
    text-shadow: 0px 2px 1px black, 0px 0px 4px darkblue;
}


/*MENU*/
#menu {
    clear: both;
    background: black;
    color: white;
    height: 55px;
    border-bottom: 4px solid darkblue;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}


#menu ul li {
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a {
    display: flex;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:hover {
    background-color: darkblue;
}

/*contenido*/
#contenido {
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/*Barra Lateral*/
#lateral {
    min-height: 500px;
    width: 22%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    /*border: 1px solid black;*/
}

#lateral .block {
    display: block;
    width: 90%;
    /*border: 5px solid red;*/
}

#lateral h3 {
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid darkblue;
}

#lateral ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

#lateral ul li {
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Formulario*/
label,
input[type="text"],
input[type="password"],
input[type="email"],
select {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
/*focus es para que resalte algo como el estilo*/
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #1579b5;
    color: black;
}


input[type="button"],
input[type="submit"],
button,
.button {
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
}

.button {
    background-color: #33AE3D;
    color: white !important;
    text-decoration: none;
}

label,
input[type="button"],
input[type="submit"],
button {
    display: block;
    margin-top: 10px;
}

/*Central*/
#central {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 500px;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

/*Productos*/
.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.producto {
    width: 25%;
    /*float:left;*/
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.producto img {
    width: 100px;
    margin-bottom: 10px;
}

.producto h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.producto p {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}


@media (min-width: 700px) and (max-width: 905px) {
    #central {
        width: 60%;
    }
}

@media (min-width: 100px) and (max-width: 699px) {
    #contenido {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin: 10px;
    }

    #lateral {
        min-height: 300px;
        width: 100%;
        float: none;
        margin-top: 0px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        /*border: 1px solid black;*/
    }

    #central {
        width: 100%;
    }

    .productos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .producto {
        width: 80%;
    }

}